<!DOCTYPE html>
<html lang="en">
    <style>
    .navbar-nav .nav-link:hover {
        color: #FFFFFF;
        background-color: #D3D3D3;
    }

    .navbar-nav .nav-link {
        transition: background-color 0.2s ease;
    }

    .navbar-nav .nav-item {
        margin: 0 10px;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicalRecord</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MedicalRecord.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
            <div class="container-fluid border">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <hr class="my-0" />
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 border-end">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="MainMenu" asp-action="Index" style="color: #000000; font-size: 20px; padding: 10px;">Αρχικό Μενού</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="CreateClient" asp-action="Index" style="color: #000000; font-size: 20px; padding: 10px;">Προσθήκη Ασθενούς</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ShowClients" asp-action="Index" style="color: #000000; font-size: 20px; padding: 10px;">Προβολή Ασθενών</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="ShowDoctorsProfile" asp-action="Index" style="color: #000000; font-size: 20px; padding: 10px;">Προβολή Προφίλ</a>
                    </li>
                        
                            <li>
                                <a class="nav-link" style="color: #000000; font-size: 20px; padding: 10px;">Συνδεδεμένος Χρήστης: @ViewData["LoggedInDoctorFirstName"]</a>
                            </li>
                        


                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index" style="color: #000000; font-size: 20px;">Έξοδος</a>
                        </li>
                    </ul>


                </div>
                <hr class="my-0" />
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
